.projects-container{
    max-width: 100%;
    height: 100%;
    margin-left: 10%;
    box-sizing: border-box;
    animation: slideIn .8s ease forwards;
    transition: all .8s ease;
}
@keyframes slideIn {
  0% {
    transform: translateX(20px) scale(.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}
.projects-container h1{
    text-align: center;
    padding: 2% 0;
    font-size: 48px;
    color: #3b4349;
}
.projects-container h1 span{
    color: rgba(250, 65, 126, 0.8);
}
.project-app{
    height: 55rem;
    display: flex;
    justify-content: space-around;
    align-items: center;   
    flex-wrap: wrap;         
}
.final-project{
    background-image: url("../../images/seasony/dashboard-image2.png");
}
.mealsharing-project{
    background-image: url("../../images/mealsharing/ms-image1.png");
}
.weather-app{
    background-image: url("../../images/weather/weather-image1.png");
}
.todo-app{
    background-image: url('../../images/todo/todo1.png');
}
.SV-project{
    background-image: url('../../images/e-commerce/SVshoes1.png');
}
.final-project, .weather-app, .mealsharing-project, .todo-app, .SV-project {    
    background-size: cover;
    background-repeat: no-repeat;
    width: 500px;
    height: 250px;
    border-radius: 10px;
}
.fp-link, .weather-link, .mealsharing-link, .todo-link, .SV-link{
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 25px 0 0 25px;
    height: 80%;
    border-radius: 10px;  
}
.final-project:hover .fp-link, .weather-app:hover .weather-link, .mealsharing-project:hover .mealsharing-link, .todo-app:hover .todo-link, .SV-project:hover .SV-link{
    opacity: 1; 
    background-color: rgba(250, 65, 126, 0.8);
    text-align: center;
}
.btn-icons{   
    width: 80px;
    height: 50px;
    margin: 0 8px;
    border-radius: 10px;
    font-size: larger;
    cursor: pointer;
}
/************Responsive**********/
@media (max-width: 900px) and (min-width: 100px){
    .projects-container{
        padding-top: 6em;
        margin: 0 8px;
    }
    .project-app{
        height: 100rem;        
    }
    #image{
        width: 50%;
    }
   div .container {
    position: fixed;
    display: none;
    }
}

