.resume-container{
    max-width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin-left:9%;
    /* animation: expand .8s ease forwards;
    transition: all .8s ease; */
    animation: slideIn .8s ease forwards;
    transition: all .8s ease;
}
@keyframes slideIn {
  0% {
    transform: translateX(20px) scale(.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}
.resume-container h1{
    text-align: center;
    padding: 2% 0 1% 0;
    font-size: 50px;
    color: #3b4349;
}
.resume-container h1 span, .s-b-star, .cert span{
    color: rgba(250, 65, 126, 0.8);
}
.skills-flex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    margin-bottom: 20px;
}
.skill-set-container{
  border-radius: 20px 0 20px 0;
  width: 500px;
  padding: 15px;
  margin-top: 20px;
}
.skill-set{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.s-b-bar, .s-bar{
  width:300px;
  height: 0.5em;
  border-radius: 20px;
}
.s-bar{  
  background-color: rgba(250, 65, 126, 0.8);
}
.html, .css, .sql{
  width: 90%;
}
.js, .git, .qc{
  width: 80%;
}
.njs, .bb{
  width: 82%;
}
.react, .tc{
  width: 85%;
}
.skill-set h4, .s-b-bar{
  margin: 5px 0;
}
.work-skills{
  margin-top: 50px;
}
/**************Language Skills*************/
.s-b-star, .cert span{
  font-size: 35px;
  cursor: context-menu;
}
/**************certificates*************/
.cert{
  text-align: justify;
}