.moon, .sun{ 
    font-size: 2em;
    background-color: rgba(250, 65, 126, 0.8);
    color: whitesmoke;
    width: 50px;
    top: 20px;
    right: 15px;
    border-radius: 5px;
    z-index: 1;
    box-shadow: none;
    position: absolute;
}
.moon:hover, .sun:hover{
    box-shadow: none;
    color: rgba(250, 65, 126, 0.8);
    background-color: whitesmoke;
}

