@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Lobster&display=swap');
.home-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}
body{
    /* background-color: #fee2f8; */
    /* background-image: linear-gradient(315deg, #fee2f8 0%, #f3f7f8 74%);    */
    background-color: rgba(223, 221, 221, 0.8);
    text-align: center; 
    /* background-color: rgba(214, 213, 213, 0.8); */
}
.content-name{
    font-family: "Poppins";    
    font-size: 2.5rem;
}
.content-role{
    font-size: 1.5em;
}
.content-name, .content-role{
    font-weight: 500;
    color: #212529;
}
.alphabet-A{
    color: rgba(250, 65, 126, 0.8);
}
/***********style the profile image*************/
/* .my-image{
    border-radius: 50%;
    width: 26%;
} */
/* .icon-link{
color: #861657;

} */