@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Lobster&display=swap');

.navbar-container{
  display: flex;
  flex-direction: column;
  width: 115px;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  margin:0.5px 0 0 0px;
  position: fixed;
}
.nav-txt p::first-letter {
  font-size: 200%;
  color: rgba(250, 65, 126, 0.8);
}
.nav-txt{
  color:  rgba(250, 65, 126, 0.8);
  font-family: 'Berkshire Swash', cursive;
  line-height: 1em;
  text-align:center;
  letter-spacing: 0.8px;
  font-weight: normal;
}
.nav-btn{
  display: flex;
  flex-direction: column;  
  justify-content: space-evenly;
  align-items: center;
  width: 63%;
  height: 65px;
  color: rgba(250, 65, 126, 0.8);
  border: none;   
}
.icon-title{
  font-size: 22px;  
}
/**********Responsive Nav bar***********/
@media (max-width: 900px) and (min-width: 100px){
  .nav-btn{
    font-weight: 700;
  }
}